@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

:root {
	--line-color-1: #333;
	--line-color-2: #888;
}

html {
	min-height: 100%;
	background: radial-gradient(circle closest-side, #042e19 0%, #005934 80%, #005934 120%, #000000 150%);
	/* background-color: #004629; */
}
body {
	font-family: "Sulphur Point", serif;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
canvas {
	width: min(100vw - 20px, 100vh - 20px);
	height: auto;
	border: 2px solid #000000;
	border-radius: 3px;
	box-sizing: border-box;
	/*grid background*/
	background-image: linear-gradient(var(--line-color-1) 1.5px, transparent 1.5px),
		linear-gradient(90deg, var(--line-color-1) 1.5px, transparent 1.5px),
		linear-gradient(var(--line-color-2) 1px, transparent 1px),
		linear-gradient(90deg, var(--line-color-2) 1px, transparent 1px);
	background-position: -1.5px -1.5px, -1.5px -1.5px, -1px -1px, -1px -1px;
	background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
}
